---
name: first-workflow
on: push

jobs:
    checkoutrepo:
        runs-on: ubuntu-latest
        steps:
        - name: checkout repo
          uses: actions/checkout@v6
        - name: install conway
          run: |
            sudo apt update
            sudo apt install cowsay
        - name: generate dragon-and-cow
          run: |
            cowsay -l | grep dragon
            cowsay -f dragon-and-cow "I am the Dragon and the Cow" > dragon-and-cow.txt
    testing:
        runs-on: ubuntu-latest
        needs: [checkoutrepo]
        steps:
          - name: sleep for 10 seconds
            run: sleep 10
          - name: testing the file exists
            run: grep -i "dragon" dragon-and-cow.txt
        
    deploying:
        runs-on: ubuntu-latest
        needs: [testing]
        steps:
          - name: read the file
            run: cat dragon-and-cow.txt
