---
name: first-workflow
on: push

jobs:
    checkoutrepo:
        runs-on: ubuntu-latest
        steps:
        - name: checkout repo
          uses: actions/checkout@v6
        - name: install conway
          run: |
            sudo apt update
            sudo apt install cowsay
        - name: upload dragon file
          run: |
            cowsay -l | grep dragon
            cowsay -f dragon-and-cow "I am the Dragon and the Cow" > dragon-and-cow.txt
        - name: upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: dragon-artifact
            path: .
    testing:
        runs-on: ubuntu-latest
        needs: [checkoutrepo]
        steps:
          - name: Download artifact
            uses: actions/download-artifact@v7
            with:
                name: dragon-artifact
                path: .
          - name: testing the file exists
            run: grep -i "dragon" dragon-and-cow.txt
        
    deploying:
        runs-on: ubuntu-latest
        needs: [testing]
        steps:
          - name: Download artifact
            uses: actions/download-artifact@v7
            with:
                name: dragon-artifact
                path: .
          - name: read the file
            run: cat dragon-and-cow.txt
