name: Variable secrets
on:
    push

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
        - name: Docket build
          run: docket build -t docker.io/dockerUsername/imageName:latest

        - name: Docker login
          run: docker login --username=dockerUsername --password=Sgre@123Z003wdbm
        
        - name: Docket publish
          run: docket push docker.io/dockerUsername/imageName:latest
    
  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Docker run
        run: docker run -d -p 8000:80 docker.io/dockerUsername/imageName:latest
    
