name: Variable secrets
on:
    # push
    workflow_dispatch:
env:
    DOCKERUSER_NAME : mohanindu93
    DOCKER_PASSWORD: Sgre@123Z003wdbm
    IMAGE: nginx
jobs:
  docker:
    concurrency:
      group: testing
      cancel-in-progress: true 
    runs-on: ubuntu-latest
    steps:
        - name: Docket build
          run: docket build -t docker.io/${{ DOCKERUSER_NAME }}/${{IMAGE}}:latest

        - name: Docker login
          run: docker login --username=${{ DOCKERUSER_NAME }} --password=${{ DOCKER_PASSWORD }}
        
        - name: Docket publish
          run: docket push docker.io/dockerUsername/${{IMAGE}}:latest
    
  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
        - name: Docker run
          run: docker run -d -p 8000:80 docker.io/dockerUsername/${{IMAGE}}:latest