name: Variable secrets

on:
  workflow_dispatch:

env:
  DOCKER_USERNAME: mohanindu93
  IMAGE: nginx

jobs:
  docker:
    concurrency:
      group: testing
      cancel-in-progress: true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker build
        run: |
          docker build -t docker.io/$DOCKER_USERNAME/$IMAGE:latest .

      - name: Docker login
        run: |
          docker login \
            --username $DOCKER_USERNAME \
            --password ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker push
        run: |
          docker push docker.io/$DOCKER_USERNAME/$IMAGE:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: Docker run
        run: |
          docker run -d -p 8000:80 docker.io/$DOCKER_USERNAME/$IMAGE:latest